.content-hits__top
    +products-top-header('Корзина')
.content-blocks.basket
    // .basket-empty В корзине нет товаров.
    .basket-in-product Товары в корзине
    .basket-paramentrs 
             div.basket-paramentrs__item ID
             div.basket-paramentrs__item Наименование
             div.basket-paramentrs__item Цена, руб.
             div.basket-paramentrs__item Кол-во
             div.basket-paramentrs__item Сумма, руб.
             div.basket-paramentrs__item 
                    <i class="fas fa-times"></i>
    
    .basket-product 
        .basket-product-item 1100904	
        .basket-product-item
              .basket-product__name PATRIOT PG 160
        .basket-product-item 1320
        .basket-product-item
            input(type="number", value="1")
        .basket-product-item 1320
        .basket-product-item
              <i class="fas fa-times"></i>
        