.content-product
        .content-product-type 
            span.tab По типам
            span.tab По брендам
        ul.content-product__menu
            li.content-product__menu-item Блоки питания 
                        span +
                        ul.content-product__menu-internal
                            li.content-product__menu-internal-item все товары раздела
                            li.content-product__menu-internal-item 3COTT
                            li.content-product__menu-internal-item ACCORD
                            li.content-product__menu-internal-item BE QUIET
                            li.content-product__menu-internal-item CHIEFTEC
            li.content-product__menu-item Бытовая техника
                        span +
            li.content-product__menu-item Видеокарты
                        span +
            li.content-product__menu-item Жесткие диски (HDD)
                        span +
            li.content-product__menu-item ИБП (UPS), батареи, фильтры
                        span +
            li.content-product__menu-item Инструменты и электротовары
                        span +
            li.content-product__menu-item Кабели и переходники
                        span +