.content-products-filter
    .content-products-filter__header Подбор по параметрам
    .content-products-filter__reset Сбросить фильтры
    ul.content-products-filter__list
      li.content-products-filter__item 
          <i class="fas fa-long-arrow-alt-right"></i>
          | Цена, руб.
          
          .content-products-filter__price
                .input-price.from от
                  input(type="number" value="2940")
                .input-price.before до
                  input(type="number" value="133550")

    .content-products-filter__reset Применить фильтры
          span Найдено товаров 5