include ../mixins/_phones.pug
header.header
        .header-wrap
            a(href="#").header__link Конфигуратор ПК
.header-content
  .header-content__wrap
      .header-content_item
        img(src="./images/logo.png", alt="")
      .header-content__contants.header-content_item
          .header-content__phone.header-content__phone-item
              .header-content__phones
                  +phones('495', '921-41-58')
                  +phones('800', '250-41-58')
              .header-content__consult
                div.consult-1 Наличие, заказ, консультации
                div ПН–ПТ: 9:30 – 20:00
                div СБ–ВС: 10:00 – 17:00
                div.consult-4 Не дозвонились? 
          .header-content__point.header-content__phone-item
                div.point-1 Пункт выдачи заказов
                div.closest-1 Временно закрыт
      .header-content_item
          .header-content__basket
                  i.fas.fa-cart-arrow-down
                  div В корзине 
                    span 0 товаров
                  | На сумму 
                  span 0 р