header.header
        .header-wrap
            a(href="#").header__link О компании
            a(href="#").header__link Конфигуратор ПК
            a(href="#").header__link Оплата
            a(href="#").header__link Доставка
            a(href="#").header__link Самовывоз
            a(href="#").header__link Гарантия
            a(href="#").header__link Контакты
.header-content
      .container
        .header-content__wrap
            img(src="./images/logo.png", alt="")
            .header-content__contants
                .header-content__phone
                    .header-content__phones
                        div
                          span 495 
                          | 921-41-58
                        div
                          span 800
                          | 250-41-58
                    .header-content__consult
                       div.consult-1 Наличие, заказ, консультации
                       div ПН–ПТ: 9:30 – 20:00
                       div СБ–ВС: 10:00 – 17:00
                       div.consult-4 Не дозвонились? 
                .header-content__point
                      div Пункт выдачи заказов
                      div Временно закрыт                   