<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
            button(type="button").modal-auth__button.modal-auth__button--active.modal-login Вход
            button(type="button").modal-auth__button.modal-registration Регистрация
          </h2>
          <button class="modal__close" aria-label="Close modal" data-custom-close="modal-1" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
          <div class="fieldset-body" id="login_form">

            <p class="field">
                <label for="user">Email</label>
                <input type="text" id="user" name="user" title="Username">
                <span id="valida" class="i i-warning"></span>
            </p>
            <p class="field">
                <label for="pass">Пароль</label>
                <input type="password" id="pass" name="pass" title="Password">
                <span id="valida" class="i i-close"></span>
            </p>
            <label class="checkbox">
            </label>
            <input type="submit" id="do_login" value="Регистрация" title="Get Started">
          </div>
          //- <div class="fieldset-body" id="login_form">

          //-   <p class="field">
          //-       <label for="user">Email</label>
          //-       <input type="text" id="user" name="user" title="Username">
          //-       <span id="valida" class="i i-warning"></span>
          //-   </p>
          //-   <p class="field">
          //-       <label for="pass">Пароль</label>
          //-       <input type="password" id="pass" name="pass" title="Password">
          //-       <span id="valida" class="i i-close"></span>
          //-   </p>
          //-   <label class="checkbox">
          //-   <input type="checkbox" value="TRUE" title="Keep me Signed in"> Запомнить меня
          //-   </label>
          //-   <input type="submit" id="do_login" value="Вход" title="Get Started">
          //- </div>
        </main>
        <footer class="modal__footer">

        </footer>
      </div>
    </div>
</div>