section.s-content__search
        .s-content__search-rel
          input(type="text", placeholder="Поиск среди товаров").s-content__input
          .s-content__search-list
          
        button(type="button").s-content__find Найти