section.s-content-food__sentence
          .content-hits__top
              +products-top-header('Предложение дня')
          .content-blocks
            .content-product-block
                .content-product-block-image
                  .content-product-block-img Фото
                  span ID: 282525
                
                .content-product-block-content
                    .content-product-block-name AMD Ryzen 5 2600 OEM
                    .content-product-block-dist Socket AM4, 6-ядерный, 3400 МГц, Turbo: 3900 МГц, Pinnacle Ridge, Кэш L2 - 3 Мб, Кэш L3 - 16 Мб, 12 нм, 65 Вт
                    .content-product-block-price
                        span
                            img(src="./images/compare_icon.png", alt="", srcset="")
                        span
                          img(src="./images/cart.png", alt="", srcset="")
                        | 8 890 руб