.content-slider
    .swiper-container.swiper-1
        .swiper-wrapper
          .swiper-slide 
              img(src="./images/delivery6.jpg", alt="", srcset="")
          .swiper-slide 
              img(src="./images/delivery6.jpg", alt="", srcset="")

        .swiper-pagination.swiper-pag-1
        .swiper-button-prev.swiper-prev-1
            <i class="fas fa-arrow-circle-left"></i>
        .swiper-button-next.swiper-next-1
            <i class="fas fa-arrow-circle-right"></i>