.basket {
  display: block;
}

.basket-empty {
  padding: 15px 0;
  text-align: center;
  width: 100%;
  color: $red;
  background-color: #F6F6F6;
}

.basket__total-amount {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background-color: #F6F6F6;
  border: 1px solid #D2D2D2;

  & span {
    font-size: 20px;
    font-weight: bold;
  }
}

.basket-in-product {
  text-align: center;
  padding: 10px 0;
  background-color: #E4EEF4;
  margin-bottom: 15px;
}

.basket-product__items-inner {
  margin-top: 5px;
  display: grid;
  grid-template-columns: .3fr 2fr 1fr 1fr .5fr;
  align-items: center;
  grid-gap: 0 20px;
  font-size: 13px;
  text-align: center;
  padding: 5px 0;
  border-top: 2px solid rgb(182, 182, 182);

  & .basket-paramentrs__item {
    font-size: 13px;
    background: #eee;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    color: #777;
  }

  & .basket-product-item {
    text-align: left;

    &:nth-child(2) {
      cursor: pointer;

      &:hover {
        color: #ea1212;
      }

    }
    &:nth-child(3) {
      text-align: center;
      & input {
        width: 40px;
        text-align: right;
        outline: none;
        text-align: center;
        border: 0;
        border: 1px solid #000;
        border-radius: 5px;
      }
    }
    &:nth-child(4) {
      text-align: center;
    }
    &:nth-child(5) {
      text-align: center;
      cursor: pointer;
    }
  }

}