.filter-checkbox {
	padding: 5px 0;
}

.checkbox-fake {
	padding-left: 20px;
	position: relative;
	font-size: 14px;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	  height: 13px;
    width: 13px;
		background-color: rgb(251, 251, 251);
		border: 2px solid #858585;
	}

	.checkbox-fake--active {
		display: none;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 15px;
		padding: 2px;
		font-size: 11px;
		color: rgb(255, 255, 255);
		background-color: rgb(226, 44, 44);
		font-weight: 600;
	}

  @media(min-width: 768px) {
		font-size: 17px;
  }

  @media(min-width: 1245px) {
		font-size: 13px;
  }
}