.content-block__cards-sorting{
  padding: 10px 15px;
  width: 100%;
  font-size: 14px;
  background-color: #ECECEC;
  margin-bottom: 10px;

  & .price {
    border: 0;
    padding: 0;
    outline: none;
    display: inline-block;
    margin: 0 10px;
    border-bottom: 1px dashed #000;
    cursor: pointer;

    &.price--active {
      background-color: #000000;
      color: #ffffff;
      padding: 3px 5px;
    }
  }
}