.content-block__card {
  @include product-block(100%);

  @media(min-width: 768px) {
    @include product-block(49%)
  }
}

.content-block__card-image-block {
  margin-right: 10px;
  text-align: center;

  & .content-block__card-id {
    font-size: 12px;
    color: rgb(145, 145, 145);
    margin-bottom: 5px;
  }

  & .content-block__card-rating {
    font-size: 14px;
    color: rgb(44, 44, 44);

    & .rating {
      color: rgb(199, 74, 74);
      font-size: 15px;
    }
  }
}

.content-block__card-img {
  height: 100px;
  width: 100px;
  overflow: hidden;
}

.content-block__card-content-name {
  margin-bottom: 7px;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    color : $red;
  }

  @media(min-width: 1245px) {
    font-size: 14px;
  }
}

.content-block__card-delete {
  position: absolute;
  right: -10px;
  top: -8px;
  font-size: 22px;
  color: #d21919;
}

.content-block__card-content-dist {
  color: rgb(145, 145, 145);
  font-size: 13px;
  margin-bottom: 20px;
}

.content-block__card-content-price {
  display: flex;
  align-items: center;

  & span {
    display: inline-block;
    height: 20px;
    overflow: hidden;
    padding-right: 5px;

    .fa-cart-plus {
      color : rgba(226, 9, 9, 0.986);
      font-size: 20px;
    }
  }

  & .fa-heart {
    font-size: 20px;
    margin-right: 7px;
  }
}