.content-products-filter {
  background-color: #E4EEF4;
  overflow-x: hidden;
  overflow-y: auto;
  border: $border;
  border-radius: 5px;
  font-size: 14px;
}

.content-products-filter__header {
  background-color: #BE1017;
  padding: 10px 5px;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.content-products-filter__reset {
  text-align: center;
  background-color: #89ADC5;
  max-width: 95%;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin: 0 auto;

  &:hover {
    background-color: rgb(99, 183, 240);
    color: #fff;
  }

  & span {
    display: none;
    margin-top: 10px;
    font-size: 12px;
    color: $red;
  }
}

.content-products-filter__list {
  padding: 10px 5px;
  cursor: pointer;
}

.content-products-filter__item  {
  overflow: hidden;
  padding: 5px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
  transition: max-height .2s linear;

  &:last-child {
    margin-bottom: 0;
  }

  & .fa-long-arrow-alt-right {
    margin-right: 5px;
  }
}

.content-products-filter__item-type {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.content-products-filter__price {
  margin-top: 10px;
  margin-bottom: 10px;

  & .input-price{
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  & .input-price input{
    font-size: 12px;
    width: 50px;
    margin-left: 5px;
    text-align: right;
    outline: none;
  }
}

.content__range-slider {
  position: relative;
  height: 3px;
  width: 100%;
  background-color: rgb(175, 175, 175);

  .content__range-slider-line {
    position: absolute;
    left: 0;
    right: 0;
    height: inherit;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }

  & .content__range-button {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    border: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #b31313;
    cursor: pointer;
    outline: none;

  }
}