.content-block__cards-sorting{
  padding: 10px 15px;
  width: 100%;
  font-size: 14px;
  background-color: #ECECEC;
  margin-bottom: 10px;

  & .price {
    border: 0;
    padding: 0;
    outline: none;
    display: block;
    padding: 5px 0;
    font-size: 16px;
    border-bottom: 1px dashed #000;
    cursor: pointer;

    &:first-child{
      margin-top: 5px;
    }

    @media(min-width: 768px) {
      display: inline-block;
      margin: 0 10px;
      padding: 0;
    }

    @media(min-width: 1245px) {
      font-size: 14px;
    }

    &.price--active {
      background-color: #000000;
      color: #ffffff;
      padding: 3px 5px;
    }
  }
}