.content__create-group {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F6F6F6;
  margin-bottom: 20px;

  &-input {
    width: 85%;

    input {
      padding: 0 10px;
      height: 30px;
      width: 100%;
      font-size: 18px;

      &:focus {
        border: none;
        outline: 2px solid #135de1;
      }
    }
  }

  &-icon {
    font-size: 30px;
    color: #125be1;
    cursor: pointer;

    &:hover {
      color: #213f7c;
    }

  }

}

.content__groups {


  &-item {
    margin-bottom: 30px;

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 25px;
      background-color: #005C8D;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;

      &-input {
        height: 25px;
        width: 75%;

        input {
          padding: 0 10px;
          height: 100%;
          width: 100%;
          outline: none;
          border: none;
        }
      }

      &-icons {
        font-size: 22px;
        cursor: pointer;

        & .fa-scroll {
          margin-right: 10px;
          color: #ffffff;

          &:hover {
            color: #a016d4;
          }
        }
        & .fa-check-square {
          margin-right: 10px;
          color: #ffffff;

          &:hover {
            color: #48e227 !important;
          }
        }
        & .fa-cart-plus {
          margin-right: 10px;
          color: #ffffff;

          &:hover {
            color: #e1133b !important;
          }
        }
        & .fa-trash{
          color: #f40c0c;

          &:hover {
            color: #910a26 !important;
          }
        }
      }
    }

    &-inner {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border: 1px solid #9a9a9a;
      min-height: 100px;
      font-size: 20px;
      background-color: #F6F6F6;
      flex-wrap: wrap;
    }

    &-total-amount {
      padding: 10px;
      font-size: 18px;
      text-align: center;
      background-color: #eeeded;
      border: 2px solid #9a9a9a;

      span {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

}
