.content-blocks__pagination {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 20px;
  background-color: #ECECEC;
  font-size: 13px;

  .content-blocks__pagination-item {
    padding: 5px 8px;
    margin-right: 5px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(102, 102, 245, 0.644);
    transition: background-color .2s linear;
    text-decoration: none;

    &:hover {
      background-color: rgba(36, 36, 255, 0.644);
      transition: background-color .1s linear;
    }

    &.content-blocks__pagination-item--active {
      background-color: rgb(102, 102, 245);
      transition: background-color .2s linear;
    }

    @media(min-width: 768px) {
      padding: 6px 14px;
      font-size: 20px;
    }

    @media(min-width: 1245px) {
      padding: 4px 8px;
      margin-right: 5px;
      font-size: 14px;
    }
  }
}