.header__mobile-menu {
  display: block;

  @media(min-width: 768px) {

  }

  @media(min-width: 1140px) {
    display: none;
  }
}

.header__mobile-menu-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 999;
  height: 100vh;
  padding: 60px 0;
  padding-left: 10px;
  padding-right: 10px;

  transform: translateX(-100%);
  background-color: #F6F6F6;
  transition: transform 0.4s linear;
}

.header__mobile-menu-list >
.content-product {
  display: block;
  margin-right: 0;
}

.header__mobile-menu-list >
.content-product >
.content-product__type >
.content-product__tab {
  padding: 15px;
  width: 50%;
  font-size: 16px;
}

.header__mobile-menu-list >
.content-product >
.content-product__menu {
  margin-top: 12px;
}

.header__mobile-menu-list >
.content-product >
.content-product__menu >
.content-product__menu-item {
  margin-bottom: 10px;
}

.header__mobile-menu-list >
.content-product >
.content-product__menu >
.content-product__menu-item >
.content-product__menu-inside >
.content-product__menu-inside-item >
.content-product__menu-inside-item-link {
  padding: 7px 0;
  font-size: 15px;
}

.header__mobile-menu-list >
.content-product >
.content-product__menu >
.content-product__menu-item >
.content-product__menu-inside-item-link {
  padding: 7px 0;
  font-size: 15px;
}


.header__mobile-menu-list >
.content-product >
.content-product__menu >
.content-product__menu-item >
.content-product__menu-item-button {
  font-size: 16px;
}

.header__mobile-menu-list--active {
  transform: translateX(0);
  transition: transform 0.4s linear;
}

.header__mobile-links {
  margin-bottom: 20px;
}

.header__mobile-link {
  text-decoration: none;
  color: #000;
}

.menu-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 20px;
  cursor: pointer;
  z-index: 1999;
	transition: all .5 ease-in-out;
}

.menu-btn__burger {
	background: rgb(214, 75, 75);
	width: inherit;
	height: 4px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255,101,7,.2);
	transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
	content: '';
	position: absolute;
	background: rgb(214, 75, 75);
	width: inherit;
	height: 4px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255,101,7,.2);
	transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
	transform: translateY(-10px);
}
.menu-btn__burger::after {
	transform: translateY(10px);
}

/* Animation */
.menu-btn.open .menu-btn__burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}