.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px 10px;
  background-color: #F6F6F6;
  border-bottom: 2px solid rgb(160, 160, 160);

  @media(min-width: 1245px) {
    position: absolute;
    padding: 10px 0;
  }
}

.header-wrap{
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__auth {
  position: relative;

  &:hover .header__auth-user-interface {
    opacity: 1;
    z-index: 100;
    transition:opacity .2s linear, z-index .2s linear;
  }
}

.header__auth-button {
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  padding: 5px 10px;
  background-color: #D1242B;
  color: #ffffff;
  border-radius: 5px;
  transition: background-color .1s linear;

  &:hover {
    background-color: #ee1d24;
    transition: background-color .1s linear;
  }
}

.header__auth-user-interface {
  position: absolute;
  padding: 10px;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -100;
  height: max-content;
  border-radius: 5px;
  background-color: #8a8a8a;
  font-size: 14px;
  transition:opacity .2s linear, z-index .2s linear;
}

.header__auth-user-interface-link {
  display: block;
  padding-bottom: 10px;
  text-decoration: none;
  color: #ffffff;
  transition: color .2s linear;

  &:hover {
    color: #141414;
    transition: color .2s linear;
  }
}

.header__auth-user-interface-button {
  border: 0;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  transition: background-color .2s linear;

  &:hover {
    background-color: #aa0b0b;
    color: #ffffff;
    transition: background-color .2s linear;
  }
}

.header__links {
  display: none;

  @media(min-width: 1140px) {
    display: block;
  }
}

.header__link {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 30px;
  color: $black;
  font-size: 14px;

  &::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    height: 30px;
    width: 0;
    background-color: rgb(192, 192, 192);
  }

  &:hover{
    color: $red;
  }

  &:hover::before {
    width: 10px;
    transition: width .3s linear;
  }
}

.header-content {
  display: flex;
  margin-top: 40px;
  padding: 20px 0;
  padding-bottom: 30px;
  background-color: $header-content;

  @media(min-width: 768px) {
    padding: 40px 0;
    padding-bottom: 40px;
  }

  @media(min-width: 1245px) {
    padding: 20px 0;
    padding-bottom: 30px;
  }

}

.header-content__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;

  @media(min-width: 768px) {
    padding: 0 10px;
  }

  @media(min-width: 1245px) {
    padding: 0;
  }
}

.header-content_item {
  margin-right: 30px;

  &:nth-child(1) {
    width: 140px;
    margin-right: 10px;

    @media(min-width: 540px) {
      width: 240px;
      display: block;
    }

    @media(min-width: 768px) {
      display: block;
      width: 170px;
    }

    @media(min-width: 960px) {
      width: 260px;
    }

    @media(min-width: 1200px) {
      width: unset;
      margin-right: 30px;
    }
  }

  &:nth-child(2) {
    display: none;

    & .header-content__phone-item:nth-child(2) {
      display: none;

      @media(min-width: 1200px) {
        display: block;
      }
    }

    @media(min-width: 768px) {
      display: flex;
      margin-right: 0;
    }

    @media(min-width: 1200px) {
      margin-right: 30px;
    }
  }

  @media(min-width: 768px) {
    margin-right: 20px;
  }

  @media(min-width: 1245px) {
    margin-right: 30px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.header-content__contants {
  display: none;
  border-radius: 10px;
  overflow: hidden;

  @media(min-width: 1245px) {
    display: flex;
  }
}

.header-content__phone-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 320px;
  margin-right: 30px;
  border: 1px solid #bcc;
  border-radius: 5px;
  background-color: #E5F0F7;

  &:last-child {
    margin-right: 0;
  }

  @media(min-width: 768px) {
    padding: 5px 15px;
  }

  @media(min-width: 1245px) {
    padding: 5px 20px;
    width: 350px;
  }
}

.header-content__phones div {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #000;

  & span {

    @media(min-width: 768px) {
      margin-top: -5px;
      font-size: 17px;
      margin-right: 4px;
      color: #0e6097;
    }

    @media(min-width: 1245px) {
      margin-top: 4px;
      margin-right: 5px;
      color: #0e6097;
      font-size: 14px;
    }
  }

  @media(min-width: 1245px) {
    font-size: 26px;
  }
}

.header-content__consult {
  text-align: center;

  & div {
    font-size: 12px;

    @media(min-width: 768px) {
      font-size: 13px;
    }

    @media(min-width: 1245px) {
      font-size: 12px;
    }
  }

  & .consult-1 {
    margin-bottom: 5px;
    color: #777;
  }

  & .consult-4 {
    cursor: pointer;
  }
}

.header-content__point {
  text-align: center;
  flex-direction: column;
  width: 250px;

  & .point-1 {
    color: #777;
  }

  & .closest-1 {
    font-size: 14px;
    padding-bottom: 10px;
    color: #ff0000;

  }
}

.header-content__basket {
  position: relative;
  padding: 10px 0;
  padding-left: 65px;
  padding-right: 20px;
  background-color: #eed6d6;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;

  & .fa-cart-arrow-down {
    position: absolute;
    top: 12px;
    left: 25px;
    font-size: 25px;
    color: #ff2f2f;
  }

  &:hover {
    color: hsla(0, 100%, 58%, 0.781);
  }

  @media(min-width: 768px) {
    font-size: 14px;
  }

  @media(min-width: 1245px) {
    font-size: 12px;
  }
}