.s-content-products {
  display: flex;
  justify-content: space-between;
}

.s-content-foods {
  @include s-products-foods(82%)
}

.content-hits__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  padding: 5px 20px;
  background-color: #005C8D;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  & h2 {
    font-size: 20px;
  }
}

.content-blocks {
  padding: 10px;
  background-color: #f6f6f6;
  border: 1px solid #bdbcbc;
  margin-bottom: 20px;
}

.content-blocks__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}