.content-slider {
  position: relative;
  height: 200px;
  overflow: hidden;
  max-width: 960px;
  margin-bottom: 20px;
}

.swiper-prev-1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 1000;
  font-size: 30px;
  cursor: pointer;

  &::after {
    display: none;
  }

  & .fa-arrow-circle-left {
    color: rgb(133, 119, 119);
  }
}

.swiper-next-1{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 1000;
  font-size: 30px;
  cursor: pointer;

  & .fa-arrow-circle-right {
    color: rgb(133, 119, 119);
  }

  &::after {
    display: none;
  }
}