extends ./layout/_base.pug
include ./mixins/_content-top-header.pug
include ./mixins/_s-content-food__sentence.pug

block content
  include ./sections/_slider.pug
  section.s-content-products
      section.s-content-foods
            include ./sections/_s-content-hits.pug
            section.s-content-foods__wrap
                +s-content-food__sentence('Предложение')
                +s-content-food__sentence('Новинки')
