extends ./layout/_base.pug

//- block content
//-     section.s-content-foods
//-       .content-blocks
//-             .goods
//-                 .goods-header
//-                     .goods-header__id 297676
//-                     h2.goods-header__name Внешний жёсткий диск 1Tb ADATA HV620S Black (AHV620S-1TU31-CBK)
//-                 .goods__wrap
//-                     .goods-img
//-                         .goods-img-block
//-                     .goods-block__dist
//-                         .goods__dist asdsadsadasdasd
//-                         .goods__price-block
//-                             .goods__price-header
//-                                   .goods__price-existence в наличии
//-                                   .goods__price-simile Добавить к сравнению

//-                             .goods__price-bl
//-                                 .goods__price 3 850 руб.
//-                                 .goods-add-basket Добавить в корзину
//-                                     .goods-in-basket В корзине
//-                                        input(type="number" value="1")
//-                                        | шт
//-                                        span.plus +
//-                                        | /
//-                                        span.minus -
