extends ./layout/_base.pug
include ./mixins/_content-top-header.pug

//- block content
//-     section.s-content-products
//-         section.s-content-foods
//-           include ./sections/_s-content-products.pug

//-         include ./sections/_filter.pug
