<!DOCTYPE html>
    html(lang="en")
      head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="./images/G_icon-G-pink-300.png", type="image/x-icon")
        title Регард - сеть компьютерных магазинов
      body

        #app
          block content
        //- include ../sections/_header.pug

        //- .container
        //-     .content
        //-         .content__preloader
        //-           <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        //-         .content-wrap
        //-             include ../sections/_content-product.pug
        //-             main.content-center
        //-               include ../sections/_s-content-input.pug
        //-               .content-wrapper
        //-                   block content
        //-         .content-footer
        //-              p © 2000–2020. Сеть компьютерных магазинов "РЕГАРД". Многоканальная телефонная линия: (495) 921-41-58

        //- include ../sections/_footer.pug
        //- include ../sections/_loginbar.pug
        //- include ../sections/_modal.pug
